<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length > 0) { %>
        <ul>
            <% orders.forEach(order => { %>
            <li>
                <h1><%= order.id  %></h1>
                <ul>
                    <li>
                        <% order.products.forEach(product => { %>
                        <ul>
                            <li>
                                <%= product.title %> (<%= product.orderItem.quantity %>)

                            </li>
                        </ul>
                        <% }); %>
                    </li>
                </ul>
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button class="btn" type="submit">Order Now!</button>
            </form>
        </div>
        <% } else { %>
        <h1>No Orders Yet!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>